
    <div  *ngIf = "productItem.discount" class="item-medium-1__alert">Sale</div>
    <div class="item-medium-1__image image" [style]="'background-image: url(' + productItem.imageUrl+')'">
        <a (click)="onItemAdded()"  class="item-medium-1__action">Add to Cart</a>
    </div>
    <a href="#">
        <h4>{{productItem.name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf="productItem.discount">${{productItem.price}}</del>
                <span class="lable">${{calculatePrice}}()</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a href="#"><i class="far fa-eye"></i></a>
        <a href="#"><i class="fas fa-edit"></i></a>
        <a href="#"><i class="fas fa-trash-alt"></i></a>
    </div>
